%h2 These are your world of warcraft characters:

-if @wow_characters.any?
  %ul
    =render :collection => @wow_characters, :partial => 'wow_character'
-else
  .center No Characters created yet!

%a.clear.right{ href: new_wow_path } Create one here