%footer.footer
  %small
    by
    %a{ href: "http://root-project.org" } Bernhard Millauer
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li= link_to "News", news_path